.services {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.servicesTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  margin-bottom: 20px;
  color: #f0f0f0;
}
.servicesList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 600px;
}
.servicesListItem {
  background-color: darkcyan;
  width: calc((100% - 80px) / 2);
  height: calc((100% - 120px) / 3);
  border-radius: 20px;
  gap: 5px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}
