.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.contactList {
  color: black;
  gap: 20px;
}
